DB_HOST=localhost
DB_PORT=5432
DB_NAME=botfarm
DB_USER=postgres
DB_PASSWORD=postgres
USER_LOCK_TTL_SECONDS=300
AUTH_USERNAME=admin
AUTH_PASSWORD=admin
JWT_SECRET_KEY=change-this-secret-key-in-env
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
TEST_POSTGRES_DB_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/botfarm